<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
        <nav id="site-nav" class="greedy-nav"> 
        <a class="site-title" href="{{domain}}">{{ site.data.ui-text[page.lang].site_title }}</a>
        <ul class="visible-links">
          {% assign links=site.data.navigation[page.lang].main %}
          {% for link in links %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
            {% if page.ref == "home" %}
              {% assign switch_lang_url = domain + site.data.ui-text[page.lang].change_lang_url %}
            {% else %}
              {% assign switch_lang_url = domain + site.data.ui-text[page.lang].change_lang_url + page.ref %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ switch_lang_url }}">{{ site.data.ui-text[page.lang].change_lang_label }} </a></li>
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
