<link rel="stylesheet" href="/assets/css/sidebar.css">
<div class="sidebar sticky">
		<p class="author__bio" itemprop="description">
      <strong> {{ site.data.ui-text[page.lang].sidebar_title_fridges }} </strong>
		</p>
		<div class="author__urls-wrapper">
			<ul class="author__urls social-icons">
      	<li><a href="https://www.facebook.com/groups/FHHWK" itemprop="sameAs">半路咖啡</a></li>
      	<li><a href="https://www.facebook.com/Share.RobinFood/" itemprop="sameAs">RobinFood 羅濱富</a></li>
      	<li><a href="https://www.facebook.com/housebook60/" itemprop="sameAs">書屋花甲</a></li>
				<li><a href="https://www.facebook.com/社子島愛心free食物銀行-392100044493153/" itemprop="sameAs">社子島愛心free食物銀行</a></li>
				<li><a href="https://www.facebook.com/Love.Free.Food/" itemprop="sameAs">板橋愛心free食物銀行</a></li>
				<li><a href="https://www.facebook.com/分享愛社團-板橋愛心冰箱站-133147634012858/" itemprop="sameAs">分享愛社團-板橋愛心冰箱站</a></li>
				<li><a href="https://www.facebook.com/LOVEREFRIGERATOR/" itemprop="sameAs">愛心冰箱新莊站</a></li>
				<li><a href="https://www.facebook.com/groups/217928308379515/" itemprop="sameAs">阿榮通訊行 vs.愛心食物冰箱社團</a></li>
				<li><a href="https://www.facebook.com/groups/350488518616424/" itemprop="sameAs">阿們愛心冰箱(Solidarity Fridge)</a></li>
			</ul>
		</div>
</div>
