<link rel="stylesheet" href="/assets/css/sidebar.css">
<div class="sidebar sticky">
		<p class="author__bio" itemprop="description">
      <strong> {{ site.data.ui-text[page.lang].sidebar_title_community }} </strong>
		</p>
		<div class="author__urls-wrapper">
			<ul class="author__urls social-icons">
      		<li><a href="https://www.facebook.com/pickfoodup" itemprop="sameAs"><img id="sidebarimg" src="/assets/images/Pick Food Up.jpg" /> 扌合生態廚房</a></li>
      		<li><a href="https://www.facebook.com/ProjectOffGrades" itemprop="sameAs"><img id="sidebarimg" src="/assets/images/veggie.jpg" /> 格外有意思</a></li>
      		<li><a href="https://www.facebook.com/TWZeroWasteYouth" itemprop="sameAs"><img id="sidebarimg" src="/assets/images/zerowaste.jpg" /> 廢青不廢</a></li>
			</ul>
		</div>
</div>
